<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FAQ</h1>
    <br><br>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<section class="faq"> 

<div class="d-flex flex-column" >
  <div class="p-2"><h3>Q: What is the Purpose of this project </h3></div> <br>
  </div>
  

  <div class="d-flex flex-column">
  <div class="p-2"><p> A: The purpose of the roadway and infrastructure improvements is threefold: to install the infrastructure needed to<br> support area redevelopment,improve the flow of traffic through downtown Tampa, and create streetscapes with that<br> are welcoming to pedestrians and cyclists <br> </P></div>
  </div>


<div class="d-flex flex-column" style="display:inline-block">
  <div class="p-2"><h3><strong>Q</strong>: Where is the project located? </h3></div> <br>
  </div>
  

  <div class="d-flex flex-column">
  <div class="p-2"><p> A: The roadway and infrastructure improvements will be done in southern downtown Tampa, south of the selmon <br>  Expressway and west if Meridian Avenue</P></div>
  </div>

  
</section>

